@font-face {
  font-family: 'Figtree';
  src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

:root {
  --yellow: #F4D04E;
  --white: #FFFFFF;
  --grey: #808080;
  --black: #121212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--yellow);
  font-size: 1rem;
  font-family: 'Figtree', sans-serif;
}

.container {
  max-width: 90%;
  background-color: var(--white);
  margin: 5rem auto;
  padding: 1.5rem 1.5rem;
  border-radius: 1rem;
  border: 1px solid black;
  box-shadow: 0.625rem 0.625rem 0 black;
}

.card-image {
  width: 100%;
  border-radius: 0.7rem;
}

.learning {
  display: inline-block;
  background-color: var(--yellow);
  font-size: 1rem;
  padding: 0.5rem 0.9rem;
  border-radius: 0.3rem;
}

p, h1, h2, .card-image {
  margin-bottom: 1.3rem;
}

.learning, .avatar-txt, h1 {
  font-weight: 800;
}

.p-published {
  font-weight: 600;
}

.p-description {
  color: var(--grey);
}

.avatar-cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
}

.avatar-txt {
  font-weight: bold;
}

.avatar-image {
  width: 2rem;
}

@media screen and (min-width: 700px) {
  .container {
    margin: 14.7rem auto;
    max-width: 24rem;
  }
}
