@font-face {
  font-family: 'Figtree';
  src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

:root {
  --yellow: #F4D04E;
  --white: #FFFFFF;
  --grey: #808080;
  --black: #121212;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--yellow);
  font-size: 1rem;
  font-family: 'Figtree', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 20.625rem;
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 1rem;
  border: 0.065rem solid var(--black);
  box-shadow: 0.45rem 0.475rem 0 var(--black);
  overflow: hidden;
}

.card-image {
  width: 100%;
  border-radius: 0.75rem;
}

.learning {
  display: inline-block;
  background-color: var(--yellow);
  font-size: 1rem;
  padding: 0.5rem 0.875rem;
  border-radius: 0.375rem;
  margin-bottom: 1.25rem;
}

.post-description, h1, .card-image {
  margin-bottom: 1.25rem;
}

.post-description {
  color: var(--grey);
  line-height: 1.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.learning, h1 {
  font-weight: 800;
}

h1 {
  font-size: 1.5rem;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 25rem;
}

h1:hover {
  color: var(--yellow);
}

.post-date {
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.avatar-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
  font-weight: 800;
}

.avatar-image {
  width: 2rem;
}

@media screen and (min-width: 700px) {
  .container {
    max-width: 25rem;
  }
}
